<% content_for :head, auto_discovery_link_tag(:atom, action: :show, id: @page.id, format: "atom") %>

<div class="section section-white section-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <%= render @posts %>
        <%= paginate @posts, param_name: "page_number" %>
      </div>

      <div class="col-md-2">
        <div class="">
          <%= render partial: '/shared/all_tags' %>
        </div>
      </div>

    </div>
  </div>
</div>
