<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h2 class="title">
        <%#= page_title %>
      </h2>
    </div>
  </div>
</div>

<br>

<div class="features-blog" >
  <div class="container">
    <div class="row bottom-line">
        <% blogs_for_my_blog_page.each do |blog| %>
          <div class="col-3 col-md-3 col-sm-3">
            <%= link_to "/#{blog.slug}", class: "#{blog.slug} #{'active' if params[:id] == blog.slug}" do %>
                <div class="info">
                  <div class="icon">
                    <i class="<%= get_blog_icon_css_class(blog) %>" aria-hidden="true"></i>
                  </div>
                  <h6 class="title">
                    <%= blog.title %>
                  </h6>
                </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>
