<a class="nav-link dark_light_switcher" href="javascript:void(0)">
    <div class="switch switch-background">
        <input type="checkbox" name="checkbox" checked class="bootstrap-switch" />
    </div>
    <p class="switch_option visible"><%= t('defaults.light') %></p>
    <p class="switch_option hidden"><%= t('defaults.dark') %></p>
</a>
