%div{ class: "header ChannelBackground u-#{current_page_slug}", style: header_page_title_bg_style(@post) }
  .container
    .row
      .col-md-8.col-md-offset-2
        %br
        %br
        %h1.title.text-center.page_title
          = page_title
