- prev_post = take_previous_post(@post)
- next_post = take_next_post(@post)

.separator
.section-with-space
  .container
    %hr
    .row
      .col-md-6
        - if prev_post
          .pull-left
            = link_to storytime.post_path(prev_post), class: 'btn btn-link btn-default btn-move-right' do
              %i.fa.fa-angle-left
              = prev_post.title
      .col-md-6
        - if next_post
          .pull-right
            = link_to storytime.post_path(next_post), class: 'btn btn-link btn-default btn-move-right' do
              = next_post.title
              %i.fa.fa-angle-right
