= form_tag my_blog_path, method: 'get', class: 'form-inline search_form', role: 'search' do
  = text_field_tag :search, params[:search], placeholder: t('defaults.search'), class: "form-control mr-sm-2 seacrh_field"
  = button_tag(type: "submit", class: "search_nav_button") do
    %i.nc-icon.nc-zoom-split
