= form_tag '/blog', method: 'get', class: 'form-inline', role: 'search' do
  = text_field_tag :search, params[:search], placeholder: t('defaults.search'), class: "form-control mr-sm-2 no-border"
  = button_tag(type: "submit", class: "search_nav_button") do
    %i.glyphicon.glyphicon-search
