<%= render partial: 'shared/fb_sdk' %>

<div class="features-4">
  <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2  text-center">
            <h2 class="title">
              Ruby On Rails
            </h2>
            <h5 class="description">
              Facebook Group
            </h5>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="ipad-container">
          <div class="fb-page" data-href="https://www.facebook.com/RailsWay/" data-tabs="timeline" data-width="500" data-height="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/RailsWay/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/RailsWay/">Ruby on Rails</a></blockquote></div>
        </div>
      </div>

      <div class="col-md-4 offset-1">
        <div class="info info-horizontal">
          <div class="icon icon-danger">
            <i class="nc-icon nc-diamond" aria-hidden="true"></i>
          </div>
          <div class="description">
            <h4 class="info-title">For Developers</h4>
            <p>
              Are you Ruby developer? Likes Ruby? This group is for you.
            </p>
          </div>
        </div>

        <div class="info info-horizontal">
          <div class="icon icon-warning">
            <i class="nc-icon nc-bulb-63" aria-hidden="true"></i>
          </div>
          <div class="description">
            <h4 class="info-title">For News</h4>
            <p>
              Ruby related news/posts/announces/events/etc. Never miss something interesting.
            </p>
          </div>
        </div>

        <div class="info info-horizontal">
          <div class="icon icon-success">
            <i class="nc-icon nc-chat-33" aria-hidden="true"></i>
          </div>
          <div class="description">
            <h4 class="info-title">For Collaboration</h4>
            <p>
              Have question, interesting blog-post or news? Share with community.
            </p>
          </div>
        </div>

        <div class="info info-horizontal">
          <div class="icon icon-info">
              <i class="nc-icon nc-favourite-28" aria-hidden="true"></i>
          </div>
          <div class="description">
              <h4 class="info-title">For Community</h4>
              <p>
                Like to join community. Share to invite more people.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

