<% if hide_title? %>
  <nav class="navbar navbar-toggleable-md fixed-top navbar-default navbar-light">
<% else %>
  <nav class="navbar navbar-toggleable-md fixed-top nav-up navbar-transparent" color-on-scroll="200">
<% end %>

  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
    </button>

    <%= link_to @current_storytime_site.title, root_path, class: "navbar-brand" %>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <%= render_main_menu %>
        <%= render partial: 'shared/user_menu' %>
        <%= render partial: 'shared/search' %>
      </ul>
    </div>
  </div>
</nav>

<!-- TODO: fix subscriptions -->
<%#= render partial: "storytime/subscriptions/modal" %>
