
//========================= Common =========================

.translation_missing {
  text-decoration: line-through !important;
  font-weight: bold;
}

.translation_missing::after,
.translation_missing::before {
    content: " ❌ ";
}

.search_nav_button, .search_nav_button:hover, .search_nav_button:focus {
  background: transparent;
  border: none;
}

.header {
  .page_title {
    padding-top: 80px;
    color: $white;
  }
}

.inline {
    display: inline;
}

ul.tags {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li.tag {
        float: left;
        line-height: 30px;
    }
}

.tag {
    margin: 3px;
}

.nowrap {
    white-space: nowrap;
}

//========================= Card =========================

.card_content {
    padding: 50px;
}

//========================= Home Page =========================

.recent_posts_image {
  width: 90%;
  height: auto;
}

//========================= Blog Page =========================

.post_list_image {
  width: 100%;
  height: auto;
}

.blog-post {
  .title
    a {
      color: $black;
    }
}

//========================= Sections =========================

.section-home {
    padding: 10px 0;
}

.section-subscribe,
.section-post,
.section-blog {
    background: #EEEEEE;
}

